.outer_border{
    border-color: rgb(8, 219, 235);
    margin-top: 9em;
    height: 400px;
    width: 50em;
    border-radius: 10px;
}

.para{
    margin-top: 0em;
    font-family: system-ui;
    color: darkmagenta;
    text-decoration: aqua;
    margin-left: 1em;
    margin-right: 1em;
    align-items: flex-end;
    font-size: 15px;
}

.card{
    box-sizing: 300px;
    font-size: medium;
    height: 150px;
    width: fit-content;
    color: rgb(12, 10, 141);
    background-color: rgb(201, 197, 197,0.5);
    border-radius: 5px;
    margin-top: -1em;
    margin-left: 1em;
    margin-right: 1em;
}

.dp{
    border-radius: 79%;
    align-items: center;
    margin-left: -1em;
}

.heading{
    margin-bottom: 0.5em;
    display: block;
    margin-left: -19em;
}

.heading-2{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0.5em;
}

