*{box-sizing: border-box;
    margin-top: 12px;}
body{
    font-family: sans-serif;
    color: black;
}
form {
    max-width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8
}
h1 {
    margin: 0 0 30px 0;
    text-align: center;

}
fieldset {
    align-items: center;
    border:none;
}
.labeled{
    font-size: 16px;
    
}
input[type="text"],input[type="email"], input[type="password"],textarea,select{
    margin: 0;
    width: 100%;
    padding: 10px;
    height: auto;
    background: rgba(255,255,255,0.1);
    border: none;
    background-color: #e8eeef;
    color: #8a97a0;
    margin-bottom: 24px;
    box-shadow: 0 0.5px 0 rgb(0,0,0,0.3) inset;
    margin-top: 10px;

}
button{
    width: 100%;
    color: white;
    background-color: rgb(54, 235, 54);
    border: none;
    border-radius: 5px;
    padding: 16px;
    cursor: pointer;
}

input:focus, textarea:focus,select:focus{
    box-shadow: 0px 0px 6px 3px rgba(81,203,238,1);
    border: 1px solid rgba(81,203,238,1);

}
select{
    border-radius: 2px;
    padding: 10px;
}
legend{
    display: block;
    margin-bottom: 8px;
    font-size: 1em;
    font-weight: bold;
}

.section{
    border-radius: 100%;
    color: white;
    background-color: rgb(54, 235, 54);
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 1.4em;
    text-align: center;
    justify-content: center;
    margin-right: 12px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
