<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <footer>
       
        <div class="footer">
            <div class="footer-logo">
                <img src="/static/images/footer_logo.png" alt="">
            </div>
            <div class="contact-us">
            <h4>Contact Us</h4>
                <span>We are available between 10AM - 10PM</span>
            </div>
            <div class="tag ">
<ul>
                <li>
                   <a href=""> FAQs</a>
                </li>
                <li>
                    <a href="">Privacy</a>
                </li>
                <li>
                    <a href="">Careers</a>
                </li>
                <li>
                    <a href="">Testimonials</a>
                </li>
                <li>
                    <a href="">Terms & Conditions</a>
                </li>
                <li>
                    <a href="">Corporate Catering</a>
                </li>
            </ul>
            </div>
            
            
        </div>
         <div class="footer-wrapper">
            <span>Copyright © 2021 - 2022 Friends</span>
        </div>
    </footer>
</body>
</html>