/* .wrapper{
 display: flex !important;
 flex-direction: row !important;
 position: relative;
 left: 20px;

} */
*{
    margin: 0;
    padding: 0;
}
h1{
    margin-bottom: 25px;
    /* word-wrap: break-word; */
}

.parents{
    border: 2px solid rgb(12, 190, 27);
    word-wrap: break-word;
   width: auto;
   height: auto;
   display: inline-block;
   justify-content: center;

   flex-direction: column;
   box-sizing: border-box;
   /* justify-content: space-around; */

}

/* .first-child{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid red;
    width: fit-content;
} */

/* .box-1{
   border: 1px solid blue;
   display: inline-block;
}
.box-2{
    border: 1px solid blue;
   display: inline-block;
} */
.box{
    /* border: 1px solid blue; */
    /* margin: 10px; */

    display: inline-block; 
    margin: 0 7px 30px 7px;
    justify-content: space-evenly;
}

span{
    color: rgb(1, 1, 10);

}
a{
    text-decoration: none;

}